<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css" type="text/css">
    <title>Document</title>
</head>
<body>
    
    <div>
        <h1>Weather</h1>
        <h2>in {{name}}, {{country}}</h2>
        <hr />
        <p>Temperature is: {{temp}} &degC</p>
        <p>Feels like: {{feelsLike}} &degC</p>
        <p>Pressure: {{pressure}} hPa</p>
    </div>
</body>s
</html>